@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We live in a post-privacy world now. If you're not paying for a service, it's because you're not the consumer, you're the product.</p>
<p>Abandon hope all ye who enter here.</p>
