@model IEnumerable<MVC_Testbed.Models.Bourbon>

@{
    ViewData["Title"] = "ApiIndex";
}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<h1>Bourbons ApiIndex</h1>

<div id="app">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distillery)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="bourbon in bourbons">
                <td><a v-bind:href="'/Bourbons/Details/' + bourbon.id">{{ bourbon.name }}</a></td>
                <td><a v-bind:href="'/Distilleries/Details/' + bourbon.distilleryId">{{ getDistilleryName(bourbon) }}</a></td>
                <td><a v-bind:href="'Bourbons/Edit/' + bourbon.id">Edit</a> | <a v-bind:href="'Bourbons/Delete/' + bourbon.id">Delete</a></td>
            </tr>
        </tbody>
    </table>

</div>

<script type="text/javascript">
    app = new Vue({
        el: "#app",
        data: {
            bourbons: [],
            distilleries: [],
        },
        mounted: function () {
            this.fetchBourbonData();
            this.fetchDistilleryData();
        },
        methods: {
            fetchBourbonData: function () {
                fetch("/api/bourbonsApi")
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        this.bourbons = data;
                    })
            },
            fetchDistilleryData: function () {
                fetch("/api/distilleriesApi")
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        this.distilleries = data;
                    })
            },
            getDistilleryName: function (b) {
                return app.distilleries.find(d => d.id === b.distilleryId).name;
            }
        }
    });
</script>